.container {
    height: 600px;
    width: 100vw;
}

.containerHero {
    z-index: -100;
    @include flexHours;
}

.containerText {
    @include flexCenter;
}

.containerText.white {
    color: $primaryWhite !important;
}

.containerText.black {
    color: $primaryBlack !important;
}

.containerAbout {
    height: 100vh;
    width: 100vw;
    background-color: $primaryPink;
}

.fa-search,
.fa-times {
    color: $primaryWhite;
}

.columns {
    @include flexMid;
}

.columns.white {
    color: $primaryWhite;
}

.column {
    @include flexCenter;
}

.column50 {
    @include flexMid;
}

.column3{
    width: 33.33%;
    padding: 1rem;
    text-align: center;
    @include flexCenter;
}

.column32{
    width: 33.33%;
    padding: 1rem;
    text-align: left;
    @include flexFooter;
}

.ms5 {
    margin-right: 5rem;
    margin-left: 5rem;
}

.pb10{
    padding-bottom: 10rem;
}

.pt2 {
    padding-top: 2rem;
}

.pt5 {
    padding-top: 5rem;
}

.pt10 {
    padding-top: 10rem;
}

.pt20 {
    padding-top: 20rem;
}

.buttonPurple {
    background-color: $primaryPurple;
    font-family: $primaryFont;
    padding: 1.25rem 4rem 1.35rem 4rem;
    border-radius: 100rem;
    color: $primaryWhite;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    margin-right: 1rem;
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.3));
}

a.buttonPurple:hover {
    background-color: $primaryPink;
    color: $primaryWhite;
}

.buttonDefault {
    background-color: $primaryWhite;
    font-family: $primaryFont;
    padding: 1.25rem 4rem 1.35rem 4rem;
    border-radius: 100rem;
    color: $primaryGrey;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    margin-right: 1rem;
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.3));
}

a.buttonDefault:hover {
    background-color: $primaryPurple;
    color: $primaryWhite;
}

/*
Carousel
*/
/*---- NUMBER OF SLIDE CONFIGURATION ----*/
* { box-sizing: border-box; }
.mainCarousel {
    width: 100vw;
    height: 600px;
    z-index: -999;
    margin-top: -35rem;
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainCarousel:after {
    background: linear-gradient(45deg, $gradPurple, $gradPink);
}

.carousel-cell {
    width: 100%;
}
.carousel-cell img {
    display: block;
    width: 100%;
    height: 100%;
}
.carousel-cell-image {
    display: block;
    max-height: 100%;
    margin: 0 auto;
    max-width: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
            transition: opacity 0.4s;
}
/* fade in lazy loaded image */
.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
    opacity: 1;
}
/* carousel controller */
.flickity-button {
    background: $primaryWhite;
}
.flickity-prev-next-button {
    width: 3rem !important;
    height: 3rem !important;
    border-radius: 5px;
}
.flickity-prev-next-button svg {
    fill: $primaryWhite !important;
}
/* icon color */
.flickity-button-icon {
    fill: $primaryWhite !important;
}
.flickity-page-dots {
    position: relative !important;
    display: flex;
    justify-content: center;
}
.flickity-page-dots .dot {
    background: $primaryWhite !important;
}
/* position outside */
.flickity-prev-next-button.previous,
.flickity-prev-next-button.next,
.flickity-prev-next-button .arrow
 {
    display: none;
}