header {
    min-height: 600px;
    background: linear-gradient(45deg, $gradPurple, $gradPink);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.titleHero {
    font-family: $primaryFont;
    color: $primaryWhite;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    margin-top: 10rem;
    line-height: 4rem;
}

.aboutHero {
    font-family: $primaryFont;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin-top: 1rem;
    line-height: 3rem;
}

.aboutHero.black {
    color: $primaryBlack;
}

.aboutHero.white {
    color: $primaryWhite;
}

.subtitleAbout  {
    font-family: $primaryFont;
    text-transform: uppercase;
    font-size: 1rem 5rem 1.25rem 5rem;
    @include pt1;
    @include pb3;
}

.subtitleHero {
    font-family: $primaryFont;
    color: $primaryWhite;
    text-transform: uppercase;
    font-size: 1rem 5rem 1.25rem 5rem;
    @include pt1;
    @include pb3;
}

.ctaHero {
    background-color: $primaryPurple;
    font-family: $primaryFont;
    padding: 1.25rem 4rem 1.35rem 4rem;
    border-radius: 100rem;
    color: $primaryWhite;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
}

a.ctaHero:hover {
    background-color: $primaryPink;
    color: $primaryWhite;
}

em.emHero {
    font-family: $secondaryFont;
    font-weight: 400;
    font-size: 4rem;
}

em.emAbout {
    font-family: $secondaryFont !important;
    font-weight: 400;
    font-size: 3rem;
}

.leftText {
    transform: rotate(270deg);
    margin-top: 20rem;
    font-family: $primaryFont;
    color: $primaryWhite;
}

.rightText {
    font-family: $primaryFont;
    color: $primaryWhite;
    transition: .3s all;
    @include flexSlash;
}

a.slash {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0px;
        left: 50%;
        height: 30px;
        transform: rotate(45deg);
        width: 1px;
        background: white;
        opacity: 0;
    }
    &:hover:before {
        opacity: 1;
    }
}

/* Media Query */
@media all and (max-width: 850px) {

}