// variables
    // colors
    $primaryPurple: #6e45e2;
    $primaryPink: #ed145b;
    $primaryBlue: #0d4ef7;
    $primaryBlack: #171717;
    $primaryWhite: #f1f8fc;

    // fonts
    $primaryFont: "Nunito", sans-serif;
    $secondaryFont: "Libre Baskerville", serif;

// mixins